# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
package-lock.json

# testing
/coverage

# production
# /build

# misc
.eslintcache
.DS_Store
.idea
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

build/static/css/0.e194ef3d.chunk.css
build/static/css/0.e194ef3d.chunk.css.map
build/static/css/1.32263268.chunk.css
build/static/css/1.32263268.chunk.css.map
build/static/css/main.ddab6b16.chunk.css
build/static/css/main.ddab6b16.chunk.css.map
build/static/js/0.f4aee0ba.chunk.js
build/static/js/0.f4aee0ba.chunk.js.LICENSE.txt
build/static/js/0.f4aee0ba.chunk.js.map
build/static/js/1.d0bc63d6.chunk.js
build/static/js/1.d0bc63d6.chunk.js.LICENSE.txt
build/static/js/1.d0bc63d6.chunk.js.map
build/static/js/10.e836fc14.chunk.js
build/static/js/10.e836fc14.chunk.js.map
build/static/js/11.6bd1f312.chunk.js
build/static/js/11.6bd1f312.chunk.js.map
build/static/js/12.de44dd24.chunk.js
build/static/js/12.de44dd24.chunk.js.map
build/static/js/13.f7f9354d.chunk.js
build/static/js/13.f7f9354d.chunk.js.map
build/static/js/14.5b8ddaa3.chunk.js
build/static/js/14.5b8ddaa3.chunk.js.map
build/static/js/15.6e2f10c1.chunk.js
build/static/js/15.6e2f10c1.chunk.js.map
build/static/js/16.19270a82.chunk.js
build/static/js/16.19270a82.chunk.js.map
build/static/js/17.e3e6c8e7.chunk.js
build/static/js/17.e3e6c8e7.chunk.js.map
build/static/js/18.eb4971df.chunk.js
build/static/js/18.eb4971df.chunk.js.map
build/static/js/19.0a570a85.chunk.js
build/static/js/19.0a570a85.chunk.js.map
build/static/js/2.0dbb9a30.chunk.js
build/static/js/2.0dbb9a30.chunk.js.map
build/static/js/20.8741844b.chunk.js
build/static/js/20.8741844b.chunk.js.map
build/static/js/21.6341c000.chunk.js
build/static/js/21.6341c000.chunk.js.map
build/static/js/22.68fe9edd.chunk.js
build/static/js/22.68fe9edd.chunk.js.map
build/static/js/23.ec404b8d.chunk.js
build/static/js/23.ec404b8d.chunk.js.map
build/static/js/24.f5147215.chunk.js
build/static/js/24.f5147215.chunk.js.map
build/static/js/25.c5544e3e.chunk.js
build/static/js/25.c5544e3e.chunk.js.map
build/static/js/26.89ee9ea4.chunk.js
build/static/js/26.89ee9ea4.chunk.js.map
build/static/js/27.cff7d133.chunk.js
build/static/js/27.cff7d133.chunk.js.map
build/static/js/28.532a1d41.chunk.js
build/static/js/28.532a1d41.chunk.js.map
build/static/js/29.9f6ef6fa.chunk.js
build/static/js/29.9f6ef6fa.chunk.js.map
build/static/js/30.8405f3aa.chunk.js
build/static/js/30.8405f3aa.chunk.js.map
build/static/js/31.1017838c.chunk.js
build/static/js/31.1017838c.chunk.js.map
build/static/js/32.e1d0162d.chunk.js
build/static/js/32.e1d0162d.chunk.js.map
build/static/js/33.410a21cb.chunk.js
build/static/js/33.410a21cb.chunk.js.map
build/static/js/34.53cc4972.chunk.js
build/static/js/34.53cc4972.chunk.js.map
build/static/js/35.e92e006f.chunk.js
build/static/js/35.e92e006f.chunk.js.map
build/static/js/36.65e1687a.chunk.js
build/static/js/36.65e1687a.chunk.js.map
build/static/js/37.1acfbca7.chunk.js
build/static/js/37.1acfbca7.chunk.js.map
build/static/js/38.9eca9a2f.chunk.js
build/static/js/38.9eca9a2f.chunk.js.map
build/static/js/39.c35d3fd0.chunk.js
build/static/js/39.c35d3fd0.chunk.js.map
build/static/js/40.24246b1d.chunk.js
build/static/js/40.24246b1d.chunk.js.map
build/static/js/41.025624f3.chunk.js
build/static/js/41.025624f3.chunk.js.map
build/static/js/42.a22206a2.chunk.js
build/static/js/42.a22206a2.chunk.js.map
build/static/js/43.b4464f46.chunk.js
build/static/js/43.b4464f46.chunk.js.map
build/static/js/44.7a074e7c.chunk.js
build/static/js/44.7a074e7c.chunk.js.map
build/static/js/45.ce6c26cb.chunk.js
build/static/js/45.ce6c26cb.chunk.js.map
build/static/js/46.32d53bfb.chunk.js
build/static/js/46.32d53bfb.chunk.js.map
build/static/js/47.ee9083c7.chunk.js
build/static/js/47.ee9083c7.chunk.js.map
build/static/js/48.50c4b75c.chunk.js
build/static/js/48.50c4b75c.chunk.js.map
build/static/js/5.99972e57.chunk.js
build/static/js/5.99972e57.chunk.js.LICENSE.txt
build/static/js/5.99972e57.chunk.js.map
build/static/js/6.577a1e99.chunk.js
build/static/js/6.577a1e99.chunk.js.map
build/static/js/7.222f8b5c.chunk.js
build/static/js/7.222f8b5c.chunk.js.map
build/static/js/8.50005304.chunk.js
build/static/js/8.50005304.chunk.js.map
build/static/js/9.d2f63427.chunk.js
build/static/js/9.d2f63427.chunk.js.map
build/static/js/main.1407cb0f.chunk.js
build/static/js/main.1407cb0f.chunk.js.map
build/static/js/runtime-main.9efa372e.js
build/static/js/runtime-main.9efa372e.js.map